.top{
    background:#fff;
    height:0.88rem;
    overflow:scroll; 
}
.top div{
    width:19rem;
}
.top span{
    line-height:0.88rem;
    padding:0 0.35rem;
    display:block;
    float:left;
    height:100%;
    height:0.88rem;
    font-size:0.28rem;
    color:#787878;
}
.top span a{
    color:#787878;
}
.line-down{
   border-bottom:3px solid red; 
}