*
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "黑体";
}
#box
{
    width: 600px;
    height: 400px;
    margin: 70px auto;
    border: 2px solid red;
    position: relative;
    overflow: hidden;
}
#box:hover #prev,
#box:hover #next
{
    display: block;
}
#pic
{
    width: 4200px;
    height: 400px;
    position: absolute;
}
#box #pic img
{
    float: left;
}
#box #btn
{
    width: 120px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    margin-left: -60px;
}
#box #btn ul li
{
    width: 16px;
    height: 16px;
    background: rgba(10,120,190,0.6);
    border-radius: 50%;
    border: 2px solid yellow;
    float: left;
    margin: 0 2px; 
    cursor: pointer;
}
/*#box #btn ul li:hover
{
    background: rgba(100,255,102,0.8);
}*/
.btnon
{
    background: red!important;
}
#box #prev,#box #next
{
    width: 40px;
    height: 50px;
    position: absolute;
    bottom: 50%;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    color: #edff22;
    background: rgba(44,16,255,0.3);
    cursor: pointer;
    display: none;
}
#box #prev
{
    left: 0;
}
#box #next
{
    right: 0;
}
#box #prev:hover,
#box #next:hover
{
    background: rgba(44,16,255,0.6);
    color: #bacc00;
}