
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1478678904591'); /* IE9*/
  src: url('../font/iconfont.eot?t=1478678904591#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1478678904591') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1478678904591') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1478678904591#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-101:before { content: "\e607"; }

.icon-tuangouicon:before { content: "\e63a"; }

.icon-xiangyou:before { content: "\e757"; }

.icon-dunpai:before { content: "\e609"; }

.icon-shouye:before { content: "\e638"; }

.icon-iconfontfenlei:before { content: "\e608"; }

.icon-chakan:before { content: "\e649"; }

.icon-gouwuche:before { content: "\e501"; }

